body {
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1.4fr 5fr;
}

#sidebar {
    display: grid;
    background-color: rgb(12, 139, 212);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    grid-template-rows: repeat(3, min-content);
    gap: 5vh;
}

#sidebar div {
    color: white;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-content: start;
}

#sidebar div div { 
    gap: 20px;
    grid-auto-flow: column;
    padding: 10px 20px;
}

#dashboard {
    font-size: 1.6rem;
    justify-content: start;
    gap: 20px;
    grid-auto-flow: column;
    padding: 10px 20px;
}

#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    box-shadow: 0 4px 4px 0 rgba(131, 129, 129, 0.459);
    display: grid;
}

#projectspage {
    background-color: hsla(195, 36%, 67%, 0.25);
}

#doggy1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#doggy2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}